* {
    box-sizing: border-box;
    margin: 0px;
}


.box {
    position: absolute;
    width: 540px;
    height: 960px;
    left: 255px;
    top: 40px;
    padding: 40px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: #FFFFFF;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
}

.title {
    width: 105%;
    left: 90px;
    top: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    text-align: center;
}

.box__title {
    width: 380px;
    height: 47px;

    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    color: #0068FF;
}

.word {
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    color: #797979;
}

input[type="text"], input[type="password"] {
    width: 380px;
    height: 50px;
    font-size: 16px;
    margin-bottom: 2px;
    
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
}

.inputFail {
    height: 10px;
    color: tomato;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    margin-bottom: 15px;
}

.phoneval__phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#phone1, #phone2, #phone3 {
    width: 100px;
    height: 40px;
    
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;    
}

.divide {
    width: 8px;
    height: 0px;
    border: 1px solid #000000;
    margin: 0px 10px 0px 10px;
}


.phoneval__flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.phoneval__val, .phoneval__check {
    display: flex;
    flex-direction: row;
}

.phoneval__num {
    width: 60px;
    height: 27px;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #0068FF;
    margin-right: 20px;
}

.phoneval__btn {
    width: 120px;
    height: 40px;
    background: #fdfdfd;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;    
    text-align: center;
    color: #b4b4b4;
}

select {
    width: 380px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #797979;
    padding-left: 20px;
    margin-bottom: 2px;

}


.box__genderbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
    background: #EBEBEB;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #b4b4b4;
    margin: 0px 8px 2px 30px;
}

hr {
    width: 380px;
    height: 1px;
    background: #f7f7f7;
}

.join {
    width: 380px;
    height: 75px;
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #b4b4b4;

    background: #fdfdfd;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 10px;
}
